# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#venv
.venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/

# PyCharm
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# env
.env
